  {% load staticfiles %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="http://bootsnipp.com/dist/bootsnipp.min.css?ver=7d23ff901039aef6293954d33d23c066">

  <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>
	    {% block javascript %}
	    {% endblock %}

<script type="text/javascript">

    jQuery(document).ready(function($) {

        $('input[type=text]').addClass('form-control');

        form_count = Number($("[name=extra_field_count]").val());

        $("#add-another").click(function () {


            form_count++;

            element = $('<input type="text"/>');
            element.attr('name', 'extra_field_' + form_count);
            $("#forms").append(element);


            $("[name=extra_field_count]").val(form_count);

        });

           var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input autocomplete="off" placeholder="Add Recipe Step" class="input form-control" id="field' + next + '" name="recipedescription'  + '" type="text">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);

            $('.remove-me').click(function(e){
                e.preventDefault();
                var fieldNum = this.id.charAt(this.id.length-1);
                var fieldID = "#field" + fieldNum;
                $(this).remove();
                $(fieldID).remove();
            });
    });

        $("#submitrecipeform").click(function(){

            var $fields=$("input[type='text'][name='recipedescription']");

            var allEmpty=true;

              $fields.each(function() {



                 if($.trim(this.value)!==''){
                     allEmpty=false;
                 }


        });

              if (!allEmpty) {


                  return true;
        } else {

            alert("Please Add at least one recipe step!");

                  return false;
        }





            });




    });


</script>

{% if user.is_authenticated %}
<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add a recipe</h3>
                    </div>
                    <div class="panel-body">

<form action='add.html' method='post'>{% csrf_token %}
    <div class="controls" id="profs">
{{ form.as_p }}
    {{ details.as_p }}
        </div>

     <input autocomplete="off" class="input" id="field1" name="recipedescription" type="text" placeholder="Add recipe step" data-items="8"/>
    <br><br>
    <button id="b1" class="btn add-more" type="button">Add another step</button>
<input type='submit' id="submitrecipeform" value='Submit' class="btn btn-primary" />
</form>

 </div>
 </div>
 </div>
 </div>
 </div>

{% endif %}